<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--注意对应哪个mapper类必须要对应-->
<mapper namespace="com.training.backend.dao.UserMapper">

    <!--    这里要和数据库的列名一致，因为是直接查数据库-->
    <sql id="selectFields">
        user_id, user_name, user_sex, principal_holdings
    </sql>

    <sql id="insertFields">
        user_id, user_name, user_sex, principal_holdings
    </sql>

    <select id="selectUserByUserId" resultType="User">
        select <include refid="selectFields"></include>
        from user
        where user_id = #{userId}
    </select>

    <update id="updatePrincipalHoldingsByUserId">
        update user set principal_holdings = #{principalHoldings}
        where user_id = #{userId}
    </update>

    <insert id="insertUser" parameterType="User">
        insert into user (<include refid="insertFields"></include>)
        values(#{userId}, #{userName}, #{userSex}, #{principalHoldings})
    </insert>

</mapper>